*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/wikigraph/.idea/
/wikigraph/assignment.sbt
/wikigraph/target/
/todo/target/
/todo/.idea/
/todo/assignment.sbt
/fireworks/.idea/
/fireworks/assignment.sbt
/fireworks/target/
/effective-quickcheck/quickcheck/.idea/
/effective-quickcheck/quickcheck/assignment.sbt
/effective-quickcheck/quickcheck/target/
/effective-codecs/codecs/.idea/
/effective-codecs/codecs/assignment.sbt
/effective-codecs/codecs/target/
/democracy/.idea/
/democracy/assignment.sbt
/democracy/target/
/.idea/
/wikigraph/enwiki-dataset/

/democracy/.bsp/
/democracy/project/
/effective-codecs/codecs/.bsp/
/effective-codecs/codecs/project/
/effective-quickcheck/quickcheck/.bsp/
/effective-quickcheck/quickcheck/project/
/fireworks/.bsp/
/fireworks/project/
/todo/.bsp/
/todo/project/
/wikigraph/.bsp/
/wikigraph/project/
